/*header*/
.container{
    margin: 0 48px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-name{
    font-size: 24px;
    margin: 24px;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    margin-left: 32px;
}

/*profile-hero*/
.profile-hero{
    margin: 100px 100px;
}
h1{
    text-align: center;
}
.hello{
    font-size: 56px;
    color: rebeccapurple;
}
img{
    max-width: 636px;
}

/*contents*/
.inner-box{
    height: 480px;
    width: 480px;
}