/*header*/
.header{
    display: flex;
    justify-content: space-between;
}
.header-name{
    font-size: 24px;
    margin: 24px;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto 0;
}
li{
    margin-left: 32px;
}

/*profile-hero*/
h1{
    text-align: center;
}
.hello{
    font-size: 56px;
    color: rebeccapurple;
}
/*contents*/
.inner-box{
    height: 480px;
    width: 480px;
}
hr{
    margin-left: 72px;
    margin-right: 72px;
}
/* footer */
.footer-icon{
    text-align: center;
}

/* Detail page */
/* hero */
.detail-hero{
    margin: 100px;
}
